{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <div>
       <h1>{{ title|raw }}</h1>
       Done
    </div>
{% endblock %}